.dropzone{
  position: relative;
  border: 1px dashed var(--stroke-default);
  border-radius: .25rem;

  display: grid;
  justify-items:center ;
  gap: .5rem;
  text-align: center;
  padding: 1.75rem 1rem;
  & input{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }
  & p {
    color: #A8A29E;
  }
  &:hover ,  &:has(input:focus){
    border-width: 2px;
    border-color:var(--stroke-highlight) ;
    background-color: var(--surface-secondary);

    svg path{
      stroke: var(--stroke-highlight);
    }
  }


}
input[type="file"]{
  opacity: 0;
  height: 100%;
  width: 100%;
}
#number-wrapper{
  grid-area: number;
}
#cep-wrapper{
  grid-area: cep;
}
#street-wrapper{
  grid-area: street;
}
#state-wrapper{
  grid-area: city;
}
#state-wrapper{
  grid-area: state;
}
.residencial-info{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "cep cep"
  "street number"
  "city state";
}

.input-wrapper:has([disabled]),.select-wrapper:has([disabled]){
  opacity: .5;
}
input,select{
  &[disabled]{
    background-color: var(--surface-disabled);

    border:1px solid var(--stroke-default);
    color:var(--text-primary);
    }
}